extends layout.pug
//- block stylesheet
//-   link(rel='stylesheet', href='/bower_components/ekko-lightbox/dist/ekko-lightbox.min.css')
block content
  main.row.trip-block
    - var lng = ""
    - var lat = ""
    - var cityName = ""
    each city in cities
      - lat = lat + "," + city.coor.lat
      - lng = lng + "," + city.coor.lng
      - cityName = cityName + "," + city.name
    input(type="hidden", id="tripDay", value=tripDay, data-lat=lat, data-lng=lng, data-city=cityName)
    .container
      .row
        h1.space-before-block.space-after-block.text-center Viajes a la india
        ul.trip-detail
          li 
            h2=title
            p=description
            nav.row.hidden-xs  
              .trip.center-block
                .trip-row
                  each city,i in cities
                    .trip-step
                      if (i == tripDay)
                        button.btn.btn-bullet.btn-circle(type='button', data-target="/trip/" + titleUri + "/" + i)
                      else 
                        button.btn.btn-default.btn-circle(type='button', data-target="/trip/" + titleUri+"/" + i)
                      p
                        a(href="/trip/"+titleUri+"/"+i)=city.name
      .row
        #map.hidden-xs
      .row.trip-title
        i.fa.fa-caret-left
        h1.text-center=cities[tripDay].name 
        i.fa.fa-caret-right
      section.row.city-explanation 
        .col-md-8.col-sm-12
          h3=cities[tripDay].tourismTitle
          p=cities[tripDay].tourismDescription
        .col-md-4.trip-photo.hidden-sm
            img.img-responsive.img-rounded(src=cities[tripDay].tourismImg)
      section.row.city-activities
        .col-md-4.trip-photo.hidden-xs.hidden-sm
            img.img-responsive.img-rounded(src=cities[tripDay].npoImg)
        .col-md-8.col-sm-12
            h3=cities[tripDay].npoTitle
            p=cities[tripDay].npoDescription
      section.row  
        .col-md-8
          h3.text-center 
            i.fa.fa-heartbeat
            =cities[tripDay].heartTitle
            i.fa.fa-heartbeat
          blockquote.blockquote-reverse.block-experience
            p=cities[tripDay].heartMessages[0].message
            footer
              | Nuestro amigo viajero 
              cite=cities[tripDay].heartMessages[0].author
          .col-lg-6.text-center
            input.btn.btn-facebook.btn-block(type='submit', value='Comparte via facebook')
          .col-lg-6.text-center
            input.btn.btn-default.btn-block.btn-experience(type='submit', value='Ver todas las experiencias')
        .col-md-4.trip-photo.hidden-sm.hidden-xs
            img.img-responsive(src=cities[tripDay].heartImg)
      .trip-row
        .myThumbnails
          ul
            each photo, i in cities[tripDay].photos
              li
              a(href=photo.url,data-toggle="lightbox" data-gallery="example-gallery")
                img(src=photo.url, alt=photo.des)

   
block javascript
  script(src='/bower_components/tether/dist/js/tether.min.js')
  script(src='/bower_components/ekko-lightbox/dist/ekko-lightbox.min.js')
  script.
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
    $(document).on('click', '.btn-circle', function(event){
      event.preventDefault();
      window.location.href = this.getAttribute('data-target')
    })

  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDX4newU7Fpvpp_6-GjJOHfxf1PSigPiRA&callback=initMap')

