extends layout.pug
//- block stylesheet
//-   link(rel='stylesheet', href='/bower_components/ekko-lightbox/dist/ekko-lightbox.min.css')
block content
  main.row.trip-block
    - var lng = ""
    - var lat = ""
    - var destinationName = ""
    - var tripDay = 0
    each destination, i in destinations
      - lat = lat + "," + destination.coord.lat
      - lng = lng + "," + destination.coord.lng
      - destinationName = destinationName + "," + destination.name
      if (destination.name == tripCity)
        - tripDay = i
    input(type="hidden", id="tripDay", value=tripDay, data-lat=lat, data-lng=lng, data-destination=destinationName)
    .container
      .row
        h2.space-before-block.space-after-block.text-center=title
        p!=marked((!description) ? "" : description)
      nav.row.hidden-xs  
        .trip.center-block
          .trip-row
            each destination,i in destinations
              .trip-step
                if (i == tripDay)
                  button.btn.btn-bullet.btn-circle(type='button', data-target="/trip/" + titleUri + "/" + destination.name)
                else 
                  button.btn.btn-default.btn-circle(type='button', data-target="/trip/" + titleUri  +"/" + destination.name)
                p
                  a(href="/trip/" + titleUri + "/" + destination.name)=destination.name
      .row
        #map.hidden-xs
      .row.trip-title
        i.fa.fa-caret-left
        h1.text-center=destinations[tripDay].name 
        i.fa.fa-caret-right
        each block in destinations[tripDay].blocks
          if (block.section == "tourism" && block.visible)
            -var image = (!block.img) ? 'Sorry-image-not-available.png' : block.img
            section.row.city-explanation 
              .col-md-8.col-sm-12
                h3=block.title
                div!=marked((!block.description) ? "" : block.description)
              .col-md-4.trip-photo.hidden-sm
                  img.img-responsive.img-rounded(src="/img/trip/" + image)
        each block in destinations[tripDay].blocks
          if (block.section == "npo" && block.visible)
            -var image = (!block.img) ? 'Sorry-image-not-available.png' : block.img
            section.row.city-explanation 
              .col-md-4.trip-photo.hidden-sm
                  img.img-responsive.img-rounded(src="/img/trip/" + image)
              .col-md-8.col-sm-12
                h3=block.title
                div!=marked((!block.description) ? "" : block.description)
        each block in destinations[tripDay].blocks
          if (block.section == "heart" && block.visible)
            if(block.description)
              -var image = (!block.img) ? 'Sorry-image-not-available.png' : block.img
              .col-md-8
                h3.text-center 
                  i.fa.fa-heartbeat
                  | Los latidos de nuestros viajeros
                blockquote.blockquote-reverse.block-experience
                  p!=marked((!block.description) ? "" : block.description)
                  footer
                    | Nuestro amigo viajero 
                    cite=block.title
              //- .col-lg-6.text-center
              //-   input.btn.btn-facebook.btn-block(type='submit', value='Comparte via facebook')
              //- .col-lg-6.text-center
              //-   input.btn.btn-default.btn-block.btn-experience(type='submit', value='Ver todas las experiencias')
              .col-md-4.trip-photo.hidden-sm.hidden-xs
                  img.img-responsive.img-rounded(src="/img/trip/" + image)
        .trip-row
          .myThumbnails
            ul
              each photo, i in photos
                li
                a(href=photo.url,data-toggle="lightbox" data-gallery="example-gallery")
                  img(src=photo.url, alt=photo.des)

   
block javascript
  script(src='/bower_components/tether/dist/js/tether.min.js')
  script(src='/bower_components/ekko-lightbox/dist/ekko-lightbox.min.js')
  script.
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
    $(document).on('click', '.btn-circle', function(event){
      event.preventDefault();
      window.location.href = this.getAttribute('data-target')
    })

  script(async, defer, src=map)
